
<%
    include header.ejs
%>

 <p>--------------------BODY---------------------</p>


<a href="/" id="connection">Connection</a>
<div id="formConnection">
<%
    include login.ejs
%>
</div>
<a href="/register" id="inscription">Inscription</a>

<%
	
    include footer.ejs
%>
