
<%
    include header.ejs

%>

<form action="/postregister" method="post">
    <div>
        <label>Username :</label>
        <input type="text" id="register_name" name="register_name" />
    </div>
    <div>
        <label>Email :</label>
        <input type="email" id="register_email" name="register_email" />
    </div>
    <div>
        <label>Mot de Passe :</label>
        <input id="register_mdp" name="register_mdp"></input>
    </div>
    
    <div class="button">
        <button type="submit">Enregistrer</button>
    </div>
  <%
    console.log("ca passe");
%>

</form>

<%
    include footer.ejs
%>