
<%
    include header.ejs
%>

 <p>--------------------BODY---------------------</p>


<a href="/" id="connection">Connection</a>
<div id="formConnection">

<form action="/postregister" method="post">
    <div>
        <label>Username :</label>
        <input type="text" id="register_name" name="register_name" />
    </div>
    <div>
        <label>Email :</label>
        <input type="email" id="register_email" name="register_email" />
    </div>
    <div>
        <label>Mot de Passe :</label>
        <input type="password" id="register_mdp" name="register_mdp"></input>
    </div>
    
    <div class="button">
        <button type="submit">Valider</button>
    </div>
  <%
    console.log("ca passe");
%>

</form>
</div>
<a href="/register" id="inscription">Inscription</a>

<%
	
    include footer.ejs
%>

